.vitamins {
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.1s;
}
.vitamins:hover {
    background-color: #e9ecef;
    transition: 0.3s;
}
.vitamins.active {
    background-color: #e9ecef;
    transition: 0.3s;
}

.minerals{
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}
.minerals:hover {
    background-color: #e9ecef;
}
.minerals.active{
    background-color: #e9ecef;
    transition: 0.3s;
}

.vitamin-claims{
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}
.vitamin-claims::after{
    transition: 0.3s;
}
.mineral-claims{
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}
.mineral-claims::after{
    transition: 0.3s;
}
.others{
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}
.others:hover {
    background-color: #e9ecef;
}
.others.active{
    background-color: #e9ecef;
    transition: 0.3s;
}
.other-claims{
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}


.notFullfilledContent{
    padding: 2px;
    flex-wrap: nowrap;

}

